mat-card{
  width: 450px;
  height:900px;
  display: block;
  vertical-align:middle;
  text-align: center;
  margin: 2em auto;
  background-image: url("https://static.vecteezy.com/system/resources/previews/006/413/040/original/blue-gradient-pastle-soft-beautiful-abstract-background-you-can-use-this-background-for-your-content-like-as-technology-video-gaming-promotion-card-banner-sports-presentation-website-etc-vector.jpg");

}
mat-form-field {
  display: block;
  font-family: "DejaVu Math TeX Gyre", serif;
}

