<div class="center">
  <div class="container center">
    <div class="vertical-center">
      <mat-card>
        <mat-card-title>Sign Up</mat-card-title>
        <form  [formGroup]="registrationForm" (ngSubmit)="registerUser()">
          <mat-form-field appearance="fill">
            <input placeholder="Email" name="email" formControlName="email" matInput required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <!--            <mat-label>City</mat-label>-->
            <input placeholder="Password" name="password" formControlName="password" type="password" matInput required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <!--            <mat-label>City</mat-label>-->
            <input placeholder="Confirm Password" name="password" formControlName="cpassword" type="password" matInput required>
          </mat-form-field>
          <br>
          <mat-card-actions>
            <div class="button-flex-container">
              <button mat-raised-button color="primary">Register</button>
            </div>
          </mat-card-actions>
              <p class="mb-5 pb-lg-2" style="color: #393f81;">Already had an account?
                <a (click)="gotoLogin()" style="color: #393f81;">Login here</a></p>
        </form>
      </mat-card>
    </div>
  </div>
</div>

