<div class="center">
  <div class="container center">
    <div class="vertical-center">
      <mat-card>
        <form [formGroup]="profileForm" (ngSubmit)="editUser(userid)">
          <h2>Edit Details</h2>
          <mat-form-field appearance="fill">
            <input placeholder="First name" name="first_name" formControlName="first_name" matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <input placeholder="Last Name" name="last_name" formControlName="last_name" matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <input type="date" placeholder="DOB"  formControlName="dob" name="dob" matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <input placeholder="Contact No" formControlName="contact_no" name="contact_no" matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <input placeholder="Description" formControlName="description" name="description" matInput>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <br>
        </form>
      </mat-card>
    </div>
  </div>
</div>
